{{ define "main" }}
{{/*
  This template is the same as the default and is here to demonstrate that if you have a content directory called "post" you can create a layouts directory, just for that section.
   */}}
   <div class="flex justify-between">
    {{ partial "vertical-navigation.html" . }}
    <div class="w-70-ns w-100-m w-100">
      {{ range where .Site.RegularPages "Type" "post" }}
      {{ .Summary }}
      {{ if .Truncated }}
      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
      <div>
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
