{{ define "main" }}
<div class="flex justify-between">
  {{ partial "vertical-navigation.html" . }}
  <div class="w-70-ns w-100-m w-100 mt2">
    <section id="about" class="section-main js-section">
      <div id="our-approach" class="section-wrapper mt4">
        <div class="image-wrapper w-100 w-75-ns pa2">
          <img src="{{ .Params.featured_image }}" />
        </div>
        <div class="our-approach chronicle measure-wide f4 lh-copy">
          {{ .Content }}
        </div>
      </div>
      <div id="our-company" class="section-wrapper mt6">
        {{ with .Site.GetPage "wwd" }}
          {{ partial "what-we-do" . }}
        {{ end }}
        {{ with .Site.GetPage "resources" }}
          {{ partial "resources" . }}
        {{ end }}
        {{ with .Site.GetPage "leadership" }}
          {{ partial "leadership" . }}
        {{ end }}
      </div>
      <div id="our-story" class="section-wrapper mt6">
        {{ with .Site.GetPage "story" }}
          {{ partial "our-story" . }}
        {{ end }}
      </div>
    </section>
  </div>
</div>
{{ end }}