{{ define "main" }}
<div class="flex justify-between">
  {{ partial "vertical-navigation.html" . }}
  <div class="w-70-ns w-100-m w-100 mt2">
    <section id="about" class="section-wrapper measure-wide js-section">
      <div id="introduction" class="mt4">
        <div class="introduction__image-wrapper w-100 w-75-ns pa2">
          <img src="{{ .Params.featured_image }}" />
        </div>
        <div class="introduction f4 lh-copy">
          <h2 class="lh-title f2 green-800">{{ .Params.intro_text }}</h2>
          <div class="chronicle">
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{{ end }}