<div class="leadership pt6 w-100">
  <div class="leadership-image-wrapper flex flex-row-reverse">
    <img src="images/bill_fristch.png" />
  </div>
  <h3 class="header-text green-800 f2 mb4">{{ .Title }}</h3>
  <div class="measure-wide f4 lh-copy ml0">
    <p class="f3 grey-900">{{ .Params.leadership_intro }}</p>
    <div class="mb3 leadership__quote chronicle green-800">{{ .Params.leadership_quote }}</div>
    <div class="leadership__contact orange-500"><img class="mr1" src="{{ .Params.email_icon }}"/>{{ .Params.email_address }}</div>
    <p class="leadership__copy ringside f4 lh-copy grey-900"> {{ .Params.leadership_main_copy }}</p>
    <div class="leadership__thought-starter-wrapper">
      <h2 class="f3 grey-900 b ringside">Three challenges that may require some Tiger Soup:</h2>
      <div class="f3 fw4 chronicle grey-900">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>