<div class="our-story w-100 ph4">
  <div class="image-wrapper fr w-50 w-25-ns pa2">
    <img src="{{ .featured_image }}" />
  </div>
  <div class="text-wrapper fl w-100">
    <h3 class="mb4 w-100">{{ .introductory_copy }}</h3>
    <div class="measure f4 lh-copy ml0">
      <p class="copy-par">It is a common mistake to spend too much time searching for fresh vegetables and unique spices. These are easy and fun to do. While these activities are certainly essential in making a savory soup, the hard part is getting your hands on a tiger. No tiger...NO tiger soup!</p>
      <p class="copy-par">When change comes to an industry it is normal for marketing people to continue doing what they are used to doing. That’s easier and it’s human nature.</p>        
      <p class="copy-par">When the rules change, as they just have, it is imperative to look straight at the depth of the problem and to recognize that new ways of thinking may be required to restart the engines of commerce. That is catching the tiger.</p>
    </div>
  </div>
</div>
