<div class="resources w-100">
  <div class="text-wrapper fl w-100">
    <h2 class="header-text green-800 f2 mb4 w-100">Our resources</h2>
    <h3 class="f3 grey-900">Tiger Soup is the brainchild of Bill Fritsch who has spent a long career founding and/or running high octane creative enterprises.</h3>
    <ul class="resources-list">
      <li class="resources-list-item mv4 fr"><span class="initial-letter mr2 fl">A:&nbsp;</span>Executive Level Knowledge (of your industry) + Custom Assembled Creative Team (with deep experience in your industry so they can hit the road running).</li>
      <li class="resources-list-item mv4 fr"><span class="initial-letter mr2 fl">B:&nbsp;</span>Evaluation of the ways Your future customers think of you today. We do this Amplified By-Design of Portland Oregon. Their unique way of bringing consumer perspective to life energizes the brand leadership to create better consumer experiences to encourage more repeat business.</li>
      <li class="resources-list-item mv4 fr"><span class="initial-letter mr2 fl">C:&nbsp;</span>Bold creative execution across all channels of communication. Today’s consumers expect high octane “content” that captures their imaginations.</li>

    </ul>
  </div>
</div>
<div class="leadership w-100">
  <div class="leadership-image-wrapper fr mw-100 mr0 mr3-ns">
    <img src="{{ .featured_image }}" />
  </div>
  <div class="text-wrapper fl w-100">
    <h3 class="header-text green-800 f2 mb4 w-100">{{ .introductory_copy }}</h3>
    <div class="measure f4 lh-copy ml0">
      <p class="f3 grey-900">Tiger Soup is the brainchild of Bill Fritsch who has spent a long career founding and/or running high octane creative enterprises.</p>
      <div class="leadership__quote chronicle green-800">"I always encourage people to freely talk about challenges. It never hurts to get another point-of-view. There is absolutely no obligation by contacting us."</div>
      <div class="leadership__contact orange-500"><img class="mr1" src="{{ .Page.Params.email_icon }}"/>billfritsch@tigersoup.net</div>
      <p class="leadership__copy ringside f4 lh-copy grey-900">His credentials include: CEO of Digital Kitchen (Multiple Emmy Award winning creator of work recognized by people around the world); CEO of Cf2GS(one of the leading direct marketing agency brands in the US) and Director of Creative Services at Walt Disney (where his team helped to launch The Disney Channel and Disney Home Video.</p>
      <div class="leadership__thought-starter-wrapper">
        <h3 class="f3 grey-900 b ringside">Three challenges that may require some Tiger Soup:</h3>
        <ol class="leadership__challenges-list f3 chronicle grey-900">
          <li>
            <h3 class="leadership__challenges-list-item f3 chronicle grey-900">Overcapacity + Compressed Demand</h3>
            <p class="leadership__copy-par">Growth will require keeping your own customers while stealing those from competitors. Requirements: Renewed focus on keeping every single customer; improving customer experiences; getting more strategic and competitive marketing campaigns; improve customer service.</p>
          </li>
          <li>
            <h3 class="leadership__challenges-list-item f3 chronicle grey-900">Counteracting competitive aggression</h3>
            <p class="leadership__copy-par">Expect leading competitors to upgrade their advertising campaigns in all media. Requirements: Build stronger intelligence on competitors; improve speed to market; talk to your own customers and invest in differentiating your brand.</p>
          </li>
          <li>
            <h3 class="leadership__challenges-list-item f3 chronicle grey-900">Commodity Perception</h3>
            <p class="leadership__copy-par">The less differentiated your company is, the stronger the need will be to reduce prices to get business. Certain industries (like banking) have brand differentiation with almost no meaning to customers. Digital interfaces between competitors offer almost the same experiences. Requirements: Investigation among your most important customer groups about their experience with your brand, revamping websites, apps, and other consumer interfaces to add personality, energy and enthusiasm to their experiences.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>