<div class="our-story pa4">
  <div class="our-story__image-wrapper fr w-25 pa2">
    <img src="{{ .featured_image }}" />
  </div>
  <div class="our-story__text-wrapper fl w-100">
    <h3 class="mh2 mh6-ns w-100 w-50-ns">{{ .introductory_copy }}</h3>
    <div class="ml2 ml7-ns mr2">
      <p>It is a common mistake to spend too much time searching for fresh vegetables and unique spices. These are easy and fun to do. While these activities are certainly essential in making a savory soup, the hard part is getting your hands on a tiger. No tiger...NO tiger soup!</p>
      <p>When change comes to an industry it is normal for marketing people to continue doing what they are used to doing. That’s easier and it’s human nature.</p>        
      <p>When the rules change, as they just have, it is imperative to look straight at the depth of the problem and to recognize that new ways of thinking may be required to restart the engines of commerce. That is catching the tiger.</p>
    </div>
  </div>
</div>
