<div class="resources-wrapper">
    <div class="resources w-100">
      <div class="text-wrapper fl w-100">
        <h2 class="header-text green-800 f2 mb4 w-100">{{ .Title }}</h2>
        <h3 class="f3 grey-900 fw4">{{ .Params.resources_intro }}</h3>
        <ul class="resources-list">
          <li class="resources-list-item mv4 fr"><span class="initial-letter mr2 fl">A:&nbsp;</span>Executive Level Knowledge (of your industry) + Custom Assembled Creative Team (with deep experience in your industry so they can hit the road running).</li>
          <li class="resources-list-item mv4 fr"><span class="initial-letter mr2 fl">B:&nbsp;</span>Evaluation of the ways Your future customers think of you today. We do this Amplified By-Design of Portland Oregon. Their unique way of bringing consumer perspective to life energizes the brand leadership to create better consumer experiences to encourage more repeat business.</li>
          <li class="resources-list-item mv4 fr"><span class="initial-letter mr2 fl">C:&nbsp;</span>Bold creative execution across all channels of communication. Today’s consumers expect high octane “content” that captures their imaginations.</li>
        </ul>
      </div>
    </div>
  </div>