<div class="resources pv5 w-100">
  <h2 class="header-text green-800 f2 mb4 w-100">{{ .Title }}</h2>
  <h3 class="chronicle grey-900 measure f3 fw4">{{ .Params.resources_intro }}</h3>
  <ul class="resources__list chronicle w-100">
    <li class="resources__list-item flex flex-row mv4">
      <span class="f2 green-800 db mr2">A:&nbsp;</span>
      <span class="db f5 lh-copy">Executive Level Knowledge (of your industry) + Custom Assembled Creative Team (with deep experience in your industry so they can hit the road running).</span>
    </li>
    <li class="resources__list-item flex flex-row mv4">
      <span class="f2 green-800 db mr2">B:&nbsp;</span>
      <span class="db f5 lh-copy">Evaluation of the ways Your future customers think of you today. We do this Amplified By-Design of Portland Oregon. Their unique way of bringing consumer perspective to life energizes the brand leadership to create better consumer experiences to encourage more repeat business.</span>
    </li>
    <li class="resources__list-item flex flex-row mv4">
      <span class="f2 green-800 db mr2">C:&nbsp;</span>
      <span class="db f5 lh-copy">Bold creative execution across all channels of communication. Today’s consumers expect high octane “content” that captures their imaginations.</span>
    </li>
  </ul>
</div>