<div class="navigation ph4" role="navigation">
  <div class="mw9 center">
    <div class="cf ph2-ns">
      <div class="fl w-50 w-40-ns">
        <div class="w-100 w-40-ns w-100-m">
          <a href="{{ .Site.BaseURL }}" class="navigation__text fw2 no-underline">
            <span class="f6 lh-title b lh-title">
              {{ .Title | default .Site.Title }}
            </span>
            {{ with .Params.description }}
              <span class="f6 lh-title center">
                {{ . }}
              </span>
            {{ end }}
          </a>
        </div>
      </div>
      <div class="mobile-navigation-wrapper fl w-50 w-60-ns pa2 dib">
        <div class="tr">
          <a href="javascript:void(0)" class="navigation__text js-mobile-nav-link">
            <img class="mobile-nav-icon" src="{{ .Params.mobile_nav_image }}" />
          </a>
        </div>
      </div>
      <div class="contact-link-wrapper fl w-50 w-60-ns pa2 dn">
        <div class="tr">
            <span class="f6 lh-title">Enjoy your<br/><span class="highlight-color f6 lh-title">{{ now.Format "Monday" }}</span></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="js-mobile-navigation mobile-navigation">
  <a href="javascript:void(0)" class="close-btn js-close-btn fr"><img class="mobile-nav-icon" src="{{ .Params.mobile_nav_close }}" /></a>
  <div class="overlay-content">
    <ul class="mobile-nav-list">
      <li class="mobile-nav-list-item js-mobile-list-item">
        <a class="mobile-nav-link" href="#about">About</a>
        <ul class="navigation-list navigation-list__subnav">
          <li class="subnav-list-item"><a href="#our-story" class="side-nav__link js-mobile-subnav-link">Our story</a></li>
          <li class="subnav-list-item"><a href="#leadership" class="side-nav__link js-mobile-subnav-link">Leadership</a></li>
          <li class="subnav-list-item"><a href="#ts-challenges" class="side-nav__link js-mobile-subnav-link">3 challenges that need Tiger Soup</a></li>
        </ul>
      </li>
      <li class="mobile-nav-list-item js-mobile-list-item">
        <a class="mobile-nav-link" href="#articles">Articles</a>
        <ul class="navigation-list navigation-list__subnav">
          {{ range where .Site.RegularPages "Type" "post" }}
          <li class="subnav-list-item"><a href="#{{ .Params.id }}" class="side-nav__link js-mobile-subnav-link">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </li>
      <li class="mobile-nav-list-item js-mobile-list-item"><a class="mobile-nav-link" href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
