<div class="navigation pv4 quarto-light" role="navigation">
  <div class="mw9 center">
    <div class="flex flex-row justify-between">
      <div class="navigation__intro-wrapper">
        <a href="{{ .Site.BaseURL }}" class="navigation__text fw2 no-underline">
          <span class="f6 lh-title lh-title">
            {{ .Site.Title }}
          </span>
          {{ with .Site.GetPage "_index.md" }}
            <span class="navigation__description f6 lh-title center">
              {{ .Description }}
            </span>
          {{ end }}
        </a>
      </div>
      <div class="mobile-navigation__wrapper">
        <a href="javascript:void(0)" class="orange-500 ringside no-underline js-mobile-nav-link">Menu</a>
      </div>
      <span class="navigation__header dn tr f6 lh-title">Enjoy your<br/><span class="orange-500 f6 lh-title">{{ now.Format "Monday" }}</span></span>
    </div>
  </div>
</div>

<div class="js-mobile-navigation mobile-navigation bg-white">
  <div class="mobile-navigation__inner-wrapper">
    <a href="javascript:void(0)" class="close-btn flex flex-row-reverse pt4 pr4 f2 no-underline orange-500 ringside-light js-close-btn">X</a>
    <div class="mobile-navigation__header-wrapper pt4 js-mobile-nav-content">
      <ul class="mobile-navigation__header-list-wrapper f2 fw2 green-800">
        <li class="mobile-navigation__header-list di f2 green-800 js-mobile-nav-header" data-header="about">About</li>/
        <li class="mobile-navigation__header-list di f2 green-800 js-mobile-nav-header" data-header="thought starters">Thought Starters</li>/
        <li class="mobile-navigation__header-list di f2 green-800 js-mobile-nav-header" data-header="contact">Contact</li>/
        <li class="mobile-navigation__header-list di f2 green-800 js-mobile-nav-header" data-header="a fable">A Fable</li>/
      </ul>
      <h2 class="fw4 green-800"></h2>
      <ul class="mobile-navigation__list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <div class="mobile-navigation__list-wrapper js-mobile-list-item" data-list-header="{{ lower .Name }}">
            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
              <a class="side-nav__link--main ringside" href="{{ .URL }}">
                  {{ .Pre }}
                  <span class="">{{ .Name }}</span>
              </a>
            </li>
            <ul class="navigation-list navigation-list__subnav">
                {{ range .Children }}
                    <li class="navigation-list__subnav-list-item ringside {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                        <a class="side-nav__link ringside-light" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
          </div>
          {{ else }}
            <li class="mobile-navigation__list-wrapper mb3 js-mobile-list-item" data-list-header="{{ lower .Name }}">
                <a href="{{ .URL }}" class="side-nav__link--main ringside">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>
