<div class="navigation pv4 ph5 bg-white" role="navigation">
  <div class="mw9 center">
    <div class="flex flex-row justify-between">
      <div class="w-50 w-20-ns w-30-m">
        <a href="{{ .Site.BaseURL }}" class="navigation__text fw2 no-underline">
          <span class="f6 lh-title b lh-title">
            {{ .Site.Title }}
          </span>
          {{ with .Site.GetPage "_index.md" }}
            <span class="f6 lh-title center">
              {{ .Description }}
            </span>
          {{ end }}
        </a>
      </div>
      <div class="mobile-navigation__wrapper">
        <a href="javascript:void(0)" class="orange-500 ringside no-underline js-mobile-nav-link">Menu</a>
      </div>
      <span class="navigation__header dn f6 lh-title">Enjoy your<br/><span class="orange-500 f6 lh-title">{{ now.Format "Monday" }}</span></span>
    </div>
  </div>
</div>

<div class="js-mobile-navigation mobile-navigation bg-white">
  <div class="mobile-navigation__inner-wrapper">
    {{ with .Site.GetPage "_index.md" }}
    <a href="javascript:void(0)" class="close-btn flex flex-row-reverse pt3 pr3 js-close-btn">
      <object class="close-icon mr1" data="{{ .Params.mobile_nav_close }}" type="image/svg+xml"><img src="{{ .Params.mobile_nav_close }}" /></object>
    </a>
    {{ end }}
    <div class="overlay-content pt4">
      <ul class="w-75 f2 fw2 quarto green-800">
        <li class="mobile-navigation__header-list di f2 green-800 quarto js-mobile-nav-header" data-header="about">About</li>/
        <li class="mobile-navigation__header-list di f2 green-800 quarto js-mobile-nav-header" data-header="articles">Articles</li>/
        <li class="mobile-navigation__header-list di f2 green-800 quarto js-mobile-nav-header" data-header="contact">Contact</li>/
      </ul>
      <h2 class="quarto fw4 green-800"></h2>
      <ul class="mobile-navigation__list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="mobile-navigation__list-item js-mobile-list-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                <a class="mobile-navigation__header ringside fw2 green-800" href="{{ .URL }}">
                    {{ .Pre }}
                    <span class="">{{ .Name }}</span>
                </a>
            </li>
            <ul class="navigation-list navigation-list__subnav">
                {{ range .Children }}
                    <li class="subnav-list-item mb3 {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                      <a class="mobile-navigation__link js-mobile-subnav-link ringside fw6 green-800" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>
