<div class="side-nav js-nav-links-wrapper ml6">
  <ul class="navigation-list">
    <li>
      <a href="#about" class="side-nav__link js-nav-link">About</a>
      <ul class="navigation-list navigation-list__subnav">
        <li class="subnav-list-item"><a href="#our-story" class="side-nav__link js-subnav-link">Our story</a></li>
        <li class="subnav-list-item"><a href="#who-we-are" class="side-nav__link js-subnav-link">Who we are</a></li>
        <li class="subnav-list-item"><a href="#leadership" class="side-nav__link js-subnav-link">Leadership</a></li>
        <li class="subnav-list-item"><a href="#ts-challenges" class="side-nav__link js-subnav-link">Three challenges that could use TigerSoup</a></li>
      </ul>
    </li>
    <li><a href="#articles" class="side-nav__link js-nav-link">Articles</a></li>
    <li><a href="#partners" class="side-nav__link js-nav-link">Partners</a></li>
    <li><a href="#fables" class="side-nav__link js-nav-link">Fables</a></li>
  </ul>
</div>