<div class="side-nav js-nav-links-wrapper ringside ml4 w-30 dn">
  <ul class="navigation-list">
    <li>
      <a href="#about" class="side-nav__link--main js-nav-link">About</a>
      <ul class="navigation-list navigation-list__subnav">
        <li class="subnav-list-item"><a href="#our-approach" class="side-nav__link js-subnav-link">Our approach</a></li>
        <li class="subnav-list-item"><a href="#our-company" class="side-nav__link js-subnav-link">Our company</a></li>
        <li class="subnav-list-item"><a href="#our-story" class="side-nav__link js-subnav-link">Our story</a></li>
      </ul>
    </li>
    <li>
      <a href="#articles" class="side-nav__link--main js-nav-link">Articles</a>
      <ul class="navigation-list navigation-list__subnav">
        {{ range where .Site.RegularPages "Type" "post" }}
        <li class="subnav-list-item"><a href="#{{ .Params.id }}" class="side-nav__link js-subnav-link">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </li>
    <li>
      <a href="#contact" class="side-nav__link--main js-nav-link">Contact</a>
    </li>
  </ul>
</div>