<!-- sidebar start -->
<div class="side-nav js-nav-links-wrapper ringside w-30">
  <ul class="navigation-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
            <a class="side-nav__link--main ringside-light" href="{{ .URL }}">
                {{ .Pre }}
                <span class="">{{ .Name }}</span>
            </a>
        </li>
        <ul class="navigation-list navigation-list__subnav">
            {{ range .Children }}
                <li class="navigation-list__subnav-list-item ringside {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <a class="side-nav__link ringside-light" href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}
        </ul>
      {{ else }}
        <li class="mb3">
            <a href="{{ .URL }}" class="side-nav__link--main ringside-light">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
