<div class="who-we-are pa4">
  <div class="image-wrapper fr w-50 pa2">
    <img src="{{ .featured_image }}" />
  </div>
  <div class="text-wrapper fl w-100">
    <h3 class="mh2 mh6-ns mh3-m mb5 w-100 w-50-ns">{{ .introductory_copy }}</h3>
    <div class="mh2 mh7-ns mh4-m">
      <p class="copy-par">The king’s favorite chef had a knack for making tasty soups. Much of his success lay with the gathering of unique local vegetables and spices and roasting these into a savory base. Into this carefully produced stock he added a variety of meats like fish, chicken and whatever else he could catch. The soup was so tasty that it didn’t matter much what meat was added. The king loved the soups and the chef lived a happy and stress-free life.</p>
      <p class="copy-par">One day the king got an unusual dinner request from an important visitor from a far-off land. The chef was thus ordered to make tiger soup for dinner several days hence.</p>
      <p class="copy-par">Thinking catching a tiger would happen by setting bigger traps, the chef requested extra money from the king. He then set out to the forest to find the ingredients for this special dinner. He knew just what he wanted to gather and spent much of his time finding the vegetables, peeling onions, combining spices and moderating the heat to build the base for his tiger soup.</p>
      <p class="copy-par">After all, this had always been his secret of success.
        Tigers were known in those days for their intelligence, beauty and cunning. They laughed at the traps.
        As the days passed Hedgehog put out more traps, confident a tiger would be caught. “If I just make more of the soup base, perhaps the wind will carry the lovely smell to a tiger and she will simply jump into my pot.” 
        In the end there was no tiger soup and the king’s embarrassment was so great the he banished Hedgehog from the land. 
      </p>
      <blockquote class="blockquote-text">The Moral: When unusual challenges arise, it is natural to focus on the things that have worked for us in the past. When making tiger soup however, it is best to focus first on catching the tiger. This often requires thinking untethered by the past.</blockquote>
    </div>
  </div>
</div>