{{ define "main" }}
<div class="intro-wrapper flex justify-between items-center mt4">
  <div class="tc tl-ns">
    <h2 class="f1 lh-title green-800">{{ .Params.introductory_copy }}</h2>
  </div>
  <div class="hero-image-wrapper">
    <img class="hero-image" src="{{ .Params.featured_image }}" />
  </div>
</div>
<div class="flex justify-between">
  {{ partial "vertical-navigation.html" . }}
  <div class="w-70-ns w-100-m w-100 ph2 mt6">
    <section id="about" class="section-main js-section">
      <div id="our-approach" class="section-wrapper flex">
        {{ with .Site.GetPage "approach" }}
        {{ partial "our-approach" . }}
        {{ end }}
      </div>
      <div id="our-company" class="section-wrapper mt6">
        {{ with .Site.GetPage "wwd" }}
        {{ partial "what-we-do" . }}
        {{ end }}
        {{ with .Site.GetPage "resources" }}
        {{ partial "resources" . }}
        {{ end }}
        {{ with .Site.GetPage "leadership" }}
        {{ partial "leadership" . }}
        {{ end }}
      </div>
      <div id="our-story" class="section-wrapper mt6">
        {{ with .Site.GetPage "story" }}
        {{ partial "our-story" . }}
        {{ end }}
      </div>
    </section>
    <section id="articles" class="section-main mv4 w-100 js-section">
      {{ range where .Site.RegularPages "Type" "post"}}
        <div id="{{ .Params.id }}" class="pv4">
          <div class="article-image-wrapper">
            <img src="{{ .Params.featured_image }}" />
          </div>
          <div class="section-wrapper flex flex-column w-100 pv4">
            <div class="measure-wide f4 lh-copy ml0">
              <div class="title-wrapper">
                <h3 class="article-title green-800 f2">{{ .Title }}</h3>
                <span class="article-subheading f3 lh-copy grey-500">{{ .Params.description }}</span>
                <div class="article-author-wrapper flex">
                  <div class="article-author-avatar">
                    <img src="{{.Params.author_avatar }}" />
                  </div>
                  <div class="article-author-information">
                    <div>{{ .Params.author }}</div>
                    <div>{{ .PublishDate.Format "January 2, 2006"}} / {{ math.Round (div (countwords .Content) 220.0) }} minute read</div>
                  </div>
                </div>
              </div>
              <div class="chronicle">{{ .Content }}</div>
            </div>
          </div>
        </div>
      {{ end }}
    </section>
    <section id="contact" class="section-main js-section">
      {{ .Content }}
    </section>
  </div>
</div>
{{ end }} 
