{{ define "main" }}
<div class="intro-wrapper">
  <div class="intro-copy tc tl-ns w-100 w-60-ns ph5">
    <h3>{{ .Params.introductory_copy }}</h3>
  </div>
  <div class="hero-image-wrapper">
    <img class="hero-image" src="{{ .Params.featured_image }}" />
  </div>
</div>
{{ partial "vertical-navigation.html" . }}
<div class="content-wrapper ph4 ph4-m ph6-ns">
  <section id="about" class="js-section">
    <div id="our-story" class="section-wrapper flex pt6">
      {{ partial "our-story.html" (dict "introductory_copy" "When making tiger soup, it is best to first focus on catching a tiger." "featured_image" "images/chef.png" )}}
    </div>
    <div id="who-we-are" class="section-wrapper flex pt6">
      {{ partial "who-we-are.html" (dict "introductory_copy" "Long ago, there was a King and his favorite chef." "featured_image" "images/who-we-are.png" )}}
    </div>
    <div id="leadership" class="section-wrapper flex pt6">
      {{ partial "leadership.html" (dict "introductory_copy" "Some intro copy needs to go here." "featured_image" "images/bill_fristch.png")}}
    </div>
    <div id="ts-challenges" class="section-wrapper flex pt6">
      {{ partial "ts-challenges.html" (dict "featured_image" "images/tiger_hunt.png")}}
    </div>
  </section>
  <section id="articles" class="js-section">
    {{ range where .Site.RegularPages "Type" "post"}}
      <div id="{{ .Params.id }}">
        <div class="article-image-wrapper pt6 w-75">
          <img src="{{ .Params.featured_image }}" />
        </div>
        <div class="section-wrapper flex flex-column w-100 pa4">
          <div class="article__text-wrapper f4 lh-copy ml0">
            <div class="title-wrapper">
              <h3 class="article-title">{{ .Title }}</h3>
              <span class="article-subheading">{{ .Params.description }}</span>
              <div class="article-author-wrapper flex">
                <div class="article-author-avatar">
                  <img src="{{.Params.author_avatar }}" />
                </div>
                <div class="article-author-information">
                  <div>{{ .Params.author }}</div>
                  <div>{{ .PublishDate.Format "January 2, 2006"}} / {{ math.Round (div (countwords .Content) 220.0) }} minute read</div>
                </div>
              </div>
            </div>
            <div>{{ .Content }}</div>
          </div>
        </div>
      </div>
    {{ end }}
  </section>
  <section id="contact" class="js-section pt6">
    {{ .Content }}
  </section>
</div>
{{ end }} 
