html {
  scroll-behavior: smooth;
}

.intro-copy {
  margin-top: 48px;
}

.hero-image {
  z-index: -1;
}

.copy-par {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px; 
}

.blockquote-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 20px;
}

.image-wrapper--challenges {
  margin: 0 auto;
}

.article-title {
  font-size: 24px;
  margin: 0;
}

.article-subheading {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 14px;
}

.article-author-wrapper {
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 16px;
  margin-top: 14px;
}

.article-author-avatar {
  margin-right: 8px;
}

/**
NAVIGATION CSS
**/

.side-nav__link {
  color: #000 !important;
  display: block;
  text-decoration: none;
}

.side-nav__link--main {
  color: #000 !important;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-list {
  font-size: 12px;
  list-style: none;
}

.navigation-list__subnav {
  margin: 18px 0;
  padding-left: 18px;
  width: 200px;
}

.subnav-list-item {
  margin-bottom: 12px;
}

.mobile-nav-icon {
  width: 32px;
}

.mobile-navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 1);
  overflow-x: hidden;
  transition: 0.5s;
}

.close-btn {
  margin: 54px 18px 0 0;
}

.overlay-content {
  margin-top: 168px;
}

.mobile-nav-list {
  list-style: none;
}

.mobile-nav-list-item {
  margin-bottom: 48px;
}

.mobile-nav-link {
  color: #fff !important;
  text-decoration: none;
  text-transform: uppercase;
}

/**
MODIFYING CLASSES
**/
.-active {
  font-weight: bold;
}

.-show {
  display: block !important;
}

.-hide {
  display: none;
}

/**
MEDIA QUERIES
**/

@media screen and (min-width: 320px) {
  .intro-copy {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 50px;
    z-index: 1;
  }

  .mobile-navigation-wrapper {
    display: none;
  }

  .contact-link-wrapper {
    display: inline-block;
  }

  .text-wrapper,
  .ts-challenges__text-wrapper,
  .article__text-wrapper {
    padding-left: 33%;
  }
}
