.intro-copy {
  margin-top: 48px;
}

.hero-image {
  z-index: -1;
}

.copy-par {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px; 
}

.blockquote-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 20px;
}

.image-wrapper--challenges {
  margin: 0 auto;
}

.side-nav {
  display: none;
}

.side-nav__link {
  color: #000 !important;
  display: block;
  text-decoration: none;
}

.navigation-list {
  list-style: none;
}

.navigation-list__subnav {
  margin-top: 24px;
}

.subnav-list-item {
  margin-bottom: 12px;
}

.-active {
  font-weight: bold;
}

.-show {
  display: block;
}

.-hide {
  display: none;
}

@media screen and (min-width: 30em) {
  .intro-copy {
    font-size: 24px;
  }

  .side-nav {
    position: fixed;
    top: 250px;
    z-index: 1;
  }
}