@font-face {
  font-family: 'Quarto';
  font-style: normal;
  src: url(static/fonts/Quarto/Quarto-Light.otf) format('otf');
}

@font-face {
  font-family: 'Chronicle Text G4';
  font-style: normal;
  src: url(static/fonts/ChronicleTextG4/ChronicleTextG4-Roman-Pro.otf) format('otf');
}

@font-face {
  font-family: 'Ringside';
  font-style: normal;
  src: url(static/fonts/Ringside/Ringside-Light.otf) format('otf');
}

.grey-900 {
  color: #434242;
}

.grey-500 {
  color: #707070;
}

.green-800 {
  color: #245f64;
}

.orange-500 {
  color: #ce5833;
}

.ringside {
  font-family: 'Ringside';
}

.chronicle {
  font-family: 'Chronicle Text G4';
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quarto';
}

.intro-wrapper {
  flex-direction: column;
}

.intro-copy {
  width: 60%;
}

.hero-image-wrapper {
  width: 100%;
  z-index: -1;
}

.hero-image {
  width: 100vw;
}

.header-text {
  font-family: 'Quarto', serif;
  font-weight: 400;
}

.image-wrapper--challenges {
  margin: 0 auto;
}

.content-wrapper {
  display: inline-block;
}

.section-main {
  opacity: 0;
  transition: opacity .6s ease-out,transform .4s ease-in-out;
}

.article-title {
  margin: 0;
}

.article-subheading {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 14px;
}

.article-author-wrapper {
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 16px;
  margin-top: 14px;
}

.article-author-avatar {
  margin-right: 8px;
}

.article-image-wrapper {
  margin: 0 auto;
}

.message-textarea {
  border: solid 1px #000;
  resize: none;
}

.contact-form-intro {
  font-size: 24px;
  line-height: 32px;
}

.contact-list {
  list-style: none;
  padding-left: 0;
}

.contact-list-item {
  align-items: center;
  display: flex;
}

.contact-image {
  width: 18px;
}

.submit-button {
  border-color: #000;
}

.leadership__quote {
  font-size: 18px;
  font-style: italic;
}

.leadership__thought-starter-wrapper ol {
  padding-left: 22px;
}

.leadership__thought-starter-wrapper h3 {
  font-weight: 400;
}

.leadership__thought-starter-wrapper p {
  font-size: 18px;
}

.leadership__challenges-list-item {
  font-weight: 200;
}

.resources-list {
  list-style: none;
  padding: 0;
}

.our-story__copy h2 {
  color: #245f64;
  font-family: 'Quarto';
  font-weight: 600;
}

.our-story__copy h3 {
  color: #434242;
  font-weight: 400;
}

/**
NAVIGATION CSS
**/

.side-nav {
  display: none;
  opacity: 0;
}

.side-nav__link {
  color: #fff;
  display: block;
  text-decoration: none;
}

.side-nav__link--main {
  color: #707070 !important;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-list {
  font-size: 14px;
  list-style: none;
}

.navigation-list__subnav {
  margin: 18px 0;
  padding-left: 18px;
  width: 200px;
}

.subnav-list-item {
  margin-bottom: 12px;
}

.mobile-nav-icon {
  width: 32px;
}

.mobile-navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 1);
  overflow-x: hidden;
  transition: 0.5s;
}

.close-btn {
  margin: 54px 18px 0 0;
}

.overlay-content {
  margin-top: 168px;
}

.mobile-nav-list {
  list-style: none;
}

.mobile-nav-list-item {
  margin-bottom: 48px;
}

.mobile-nav-link {
  color: #fff !important;
  text-decoration: none;
  text-transform: uppercase;
}

/**
MODIFYING CLASSES
**/

.-animateup {
  opacity: 1;
  transform: translateZ(0) scale(1);
}

.-active {
  font-weight: bold;
}

.-show {
  opacity: 1;
}

.-hide {
  display: none;
}


.initial-letter {
  color: #245F64;
  font-size: 48px;
  line-height: 44px;
}

/**
MEDIA QUERIES
**/

@media screen and (min-width: 320px) {
  .intro-copy {
    color: #245F64;
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) {
  .intro-wrapper {
    flex-direction: row;
  }

  .intro-copy {
    padding-right: 4rem;
    width: 40%;
  }

  .hero-image-wrapper {
    width: 60%;
  }

  .side-nav {
    align-self: flex-start;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    z-index: 1;
  }

  .side-nav__link {
    color: #000;
  }

  .navigation-list {
    font-size: 12px;
  }

  .mobile-navigation-wrapper {
    display: none;
  }

  .contact-link-wrapper {
    display: inline-block;
  }

  .text-wrapper,
  .ts-challenges__text-wrapper,
  .article__text-wrapper,
  .article-image-wrapper {
    padding-left: 33%;
  }
}
