$transition-slow: .25s;
$transition-standard: .75s;
$beige-100: #f7f7f7;
$grey-500: #707070;
$grey-900: #434242;
$grey-950: #322f2f;
$green-800: #245f64;
$orange-500: #ce5833;

$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;

@font-face {
  font-family: 'Quarto';
  font-style: normal;
  src: url('../fonts/Quarto/Quarto-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Quarto Semibold';
  font-style: normal;
  src: url('../fonts/Quarto/Quarto-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Chronicle Text G4';
  font-style: normal;
  src: url('../fonts/ChronicleTextG4/ChronicleTextG4-Roman-Pro.otf') format('opentype');
}

@font-face {
  font-family: 'Ringside';
  font-style: normal;
  src: url('../fonts/Ringside/Ringside-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Ringside Light';
  font-style: normal;
  src: url('../fonts/Ringside/Ringside-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Ringside Book';
  font-style: normal;
  src: url('../fonts/Ringside/Ringside-Book.otf') format('opentype');
}

@mixin slide-down($transition-speed) { 
  overflow: hidden;
  transition: height $transition-speed ease-in-out;

  &:not(.-open) {
    display: none;
  }
}

@mixin first-letter {
  color: $orange-500;
  float: left;
  font-family: 'Quarto Semibold';
  font-size: 4.5em;
}

@mixin sm-image {
  margin: 0 0 0 auto;
  transform: translateY(10%);
  width: 250px;

  @media screen and (min-width: 768px) {
    transform: translateY(40%);
  } 
}
