.message-textarea {
  border: solid 1px #000;
  resize: none;
}

.contact-form {
  &__wrapper {
    margin-top: 0;

    @media screen and (min-width: 768px) {
      margin-top: -15%;
    }
  }

  &__intro {
    font-size: 24px;
    line-height: 32px;
  }

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__list-item {
    align-items: center;
    display: flex;
  }

  &__submit-button {
    background: #fff;
    border: solid 1px $orange-500;
    border-width: 1px;

    &:hover {
      background-color: $orange-500;
      border: solid 1px $grey-900;
      color: #fff;
    }
  }

  @media screen and (min-width: 768px) {
    &__link-wrapper {
      display: inline-block;
    }
  }
}