
@import 'variables';
@import 'navigation';
@import 'article';
@import 'contact';
@import 'leadership';
@import 'glide.core';
@import 'glide.theme';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quarto';
}

.intro-wrapper {
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.hero {
  &__header {
    margin: 0;
  }

  &__image-wrapper {
    margin-top: 22px;
    width: 100vw;
  }

  @media screen and (min-width: 768px) {
    &__image-wrapper {
      margin-top: 0;
      width: 75vw;
    }
  }
}

.header-text {
  font-family: 'Quarto', serif;
  font-weight: 400;
}

.image-wrapper {
  &--challenges {
    margin: 0 auto;
  }
}

.content-wrapper {
  display: inline-block;
}

.section-main {
  opacity: 0;
  transition: opacity .6s ease-out, transform .4s ease-in-out;
}

.caret {
  pointer-events: none;
  transform: rotate(0deg);
  transition: transform .25s linear;
}

/**
MODIFYING CLASSES
**/
.grey-900 {
  color: #434242;
}

.grey-500 {
  color: #707070;
}

.green-800 {
  color: #245f64;
}

.orange-500 {
  color: #ce5833;
}

.ringside {
  font-family: 'Ringside';
}

.chronicle {
  font-family: 'Chronicle Text G4';
}

.sm-icon {
  vertical-align: middle;
  width: 20px;
}

.close-icon {
  pointer-events: none;
}

.-scroll-off {
  overflow-y: hidden;
}

.-animateup {
  opacity: 1;
  transform: translateZ(0) scale(1);
}

.-active {
  font-weight: bold;
}

.-active-nav {
  color: #ce5833;
}

.-show {
  opacity: 1;
}

.-hide {
  display: none;
}

.-rotate {
  transform: rotate(180deg);
  transition: transform .25s linear;
}

.our-approach::first-letter {
  @include first-letter;
}

.our-story {
  &__copy {
    h2 {
      color: $green-800;
      font-family: 'Quarto';
      font-weight: 600;
    }

    h3 {
      color: $grey-900;
      font-weight: 400;
    }

    .image-wrapper {
      margin: 0 auto;
    }

    &::first-letter {
      @include first-letter;
    }
  }
}
