/**
SASS VARIABLES and MIXINS
**/
$transition-slow: .25s;
$transition-standard: .75s;
$beige-100: #f7f7f7;
$grey-500: #707070;
$grey-900: #434242;
$green-800: #245f64;

@font-face {
  font-family: 'Quarto';
  font-style: normal;
  src: url(static/fonts/Quarto/Quarto-Light.otf) format('otf');
}

@font-face {
  font-family: 'Chronicle Text G4';
  font-style: normal;
  src: url(static/fonts/ChronicleTextG4/ChronicleTextG4-Roman-Pro.otf) format('otf');
}

@font-face {
  font-family: 'Ringside';
  font-style: normal;
  src: url(static/fonts/Ringside/Ringside-Light.otf) format('otf');
}

@mixin slide-down($transition-speed) { 
  overflow: hidden;
  transition: height $transition-speed ease-in-out;

  &:not(.-display) {
    display: none;
  }
}

@mixin first-letter {
  color: $green-800;
  font-size: 48px;
  line-height: 44px;
}

@import 'navigation';
@import 'article';
@import 'contact';
@import 'leadership';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quarto';
}

.intro-wrapper {
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.hero-image {
  width: 100vw;
}

.header-text {
  font-family: 'Quarto', serif;
  font-weight: 400;
}

.image-wrapper {
  &--challenges {
    margin: 0 auto;
  }
}

.content-wrapper {
  display: inline-block;
}

.section-main {
  opacity: 0;
  transition: opacity .6s ease-out, transform .4s ease-in-out;
}

/**
MODIFYING CLASSES
**/
.grey-900 {
  color: #434242;
}

.grey-500 {
  color: #707070;
}

.green-800 {
  color: #245f64;
}

.orange-500 {
  color: #ce5833;
}

.ringside {
  font-family: 'Ringside';
}

.chronicle {
  font-family: 'Chronicle Text G4';
}

.sm-icon {
  vertical-align: middle;
  width: 20px;
}

.close-icon {
  pointer-events: none;
}

.-scroll-off {
  overflow-y: hidden;
}

.-animateup {
  opacity: 1;
  transform: translateZ(0) scale(1);
}

.-active {
  font-weight: bold;
}

.-active-nav {
  color: #ce5833;
}

.-show {
  opacity: 1;
}

.-hide {
  display: none;
}

.our-approach::first-letter {
  @include first-letter;
}

.our-story {
  &__copy {
    h2 {
      color: $green-800;
      font-family: 'Quarto';
      font-weight: 600;
    }

    h3 {
      color: $grey-900;
      font-weight: 400;
    }

    .image-wrapper {
      margin: 0 auto;
    }

    &::first-letter {
      @include first-letter;
    }
  }
}
