
@import 'variables';
@import 'navigation';
@import 'article';
@import 'contact';
@import 'leadership';
@import 'glide.core';
@import 'glide.theme';

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quarto';
}

.intro-wrapper {
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.hero {
  &__header {
    margin: 0;
  }

  &__image-wrapper {
    margin-top: 22px;
  }

  @media screen and (min-width: 768px) {
    &__image-wrapper {
      margin-top: 0;
      width: 75vw;
    }
  }
}

.header-text {
  font-family: 'Quarto', serif;
  font-weight: 400;
}

.section-wrapper {
  opacity: 0;
}

.image-wrapper {
  &--challenges {
    margin: 0 auto;
  }
}

.sm-image-wrapper {
  @include sm-image;
}

.content-wrapper {
  display: inline-block;
}

.caret {
  pointer-events: none;
  transform: rotate(0deg);
  transition: transform .25s linear;
}

/**
MODIFYING CLASSES
**/
.grey-900 {
  color: #434242;
}

.grey-500 {
  color: #707070;
}

.green-800 {
  color: #245f64;
}

.orange-500 {
  color: #ce5833;
}

.ringside {
  font-family: 'Ringside';
}

.ringside-light {
  font-family: 'Ringside Light';
}

.ringside-book {
  font-family: 'Ringside Book';
}

.chronicle {
  font-family: 'Chronicle Text G4';
}

.sm-icon {
  vertical-align: middle;
  width: 20px;
}

.close-icon {
  pointer-events: none;
}

.-scroll-off {
  overflow-y: hidden;
}

.-animateup {
  animation: fadeInUp;
  animation-duration: 0.50s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.-active {
  font-family: 'Ringside Light';
}

.-active-nav {
  color: #ce5833;
}

.-show {
  opacity: 1;
  transition: opacity 0.2s, visibility 0.2s;
  visibility: visible;
}

.-show-nav {
  opacity: 1;
  transition: opacity 0.2s;
  z-index: 100;
}

.-hide {
  display: none;
}

.-rotate {
  transform: rotate(180deg);
  transition: transform .25s linear;
}

.nav-active {
  .side-nav {
    &__link {
      &--main {
        font-family: 'Ringside Light';
      }
    }
  }
}

.introduction {
  p {
    &:first-of-type {
      &:first-letter {
        @include first-letter;
      }
    }
  }

  &__image-wrapper {
    margin: 0 auto;
  }
}

.glide {
  &__slides {
    display:block;
    transform:none !important;
    width:auto !important;
  }

  &__slide {
    left:0;
    opacity:0;
    position:absolute;
    top:0;
    transition: opacity 750ms;

    &:first-child {
      position:relative;
    }

    &--active {
      opacity:1;
      z-index:1;
    }
  }
}

.our-story {
  &__copy {
    h2 {
      color: $green-800;
      font-family: 'Quarto';
      font-weight: 600;
    }

    h3 {
      color: $grey-900;
      font-family: 'Chronicle Text G4';
      font-weight: 400;
    }

    .image-wrapper {
      margin: 0 auto;
    }

    &::first-letter {
      @include first-letter;
    }
  }

  &__image-wrapper {
    margin: 0 auto;
  }
}
