.leadership {
  &__image-wrapper {
    @include md-image;
  }

  &__quote {
    font-size: 18px;
    font-style: italic;
  }

  &__challenges-list-item {
    font-weight: 200;
  }
}

.new-challenges {
  ol {
    color: $orange-500;
    padding-left: 26px; 
  }

  h3 {
    font-weight: 400;
  }

  p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 36px;
  }
}

.read-more {
  &__text-wrapper {
    @include slide-down($transition-standard);
  }
}
.resources {
  background: $beige-100;
  left: 47%;
  margin: 12vw 0 12vw -48vw;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
  right: 50%;
  width: 100vw;

  &__list {
    list-style: none;
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    left: 30%;
    padding-left: 52%;
    padding-right: 7rem;
  }
}
