.navigation {
  background-color: #fff;
  border-bottom: solid 1px $green-800;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0px;
  z-index: 100;

  &__text {
    color: $grey-500 !important;
  }

  &__description {
    display: none;
  }

  @media screen and (min-width: 768px) {
    background-color: transparent;
    border-bottom: none;
    padding-left: 4rem;
    padding-right: 4rem;

    &__header {
      display: block;
    }

    &__description {
      display: inline;
    }

    &__intro-wrapper {
      width: 220px;
    }
  }
}
  
.side-nav {
  display: none;

  &__link {
    color: $grey-500;
    text-decoration: none;

    &--main {
      color: $grey-500 !important;
      text-decoration: none;
    }
  }

  @media screen and (min-width: 768px) {
    align-self: flex-start;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 40%;
    z-index: 1;
  }
}

.navigation-list {
  font-size: 14px;
  list-style: none;
  width: 200px;

  &--homepage-active-nav {
    li:first-of-type {
      font-family: 'Ringside Light';
    }
  }

  &__subnav {
    margin-bottom: -12px;
    margin-top: 12px;
    max-height: 0;
    overflow-y: hidden;
    padding-left: 18px;
    transition: all .3s cubic-bezier(0, 1, 0.5, 1);
  }

  &__subnav-list-item {
    margin-bottom: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.mobile-navigation {
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 100;

  &__inner-wrapper {
    background-color: $beige-100;
    bottom: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__header-list-wrapper {
    padding-left: 18px;
  }

  &__header-wrapper {
    opacity: 0;
    visibility: hidden;
  }

  &__header-list {
    cursor: pointer;
  }

  &__list-wrapper {
    opacity: 0;
    position: absolute;
  }

  &__list {
    list-style: none;
    padding-left: 24px;
  }

  &__list-item {
    @include slide-down($transition-slow);
    position: absolute;
  }

  &__header {
    text-decoration: none;
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    display: none;

    &__wrapper {
      display: none;
    }
  }
}