{{ $.Scratch.Add "labelClasses" "f7 b db mb1 mt3 sans-serif mid-gray ttu tracked" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv2 ph2 bb bt-0 br-0 bl-0" }}

<div class="contact-form__wrapper flex flex-column">
  <div class="contact-form__content measure-wide lh-copy f4">
    <div class="contact-form__sm-image sm-image-wrapper">
      <img src="{{ .Page.Params.featured_image }}" />
    </div>
    <h3 class="f2 f2-m f1-ns mt0 green-800">Say Hello</h3>
    <p class="contact-form__intro measure-wide grey-900 chronicle">We would love to hear from you about the challenges you or your organization are facing. Another point of view never hurts. There is absolutely no obligation if you contact us. All information is kept strictly confidential. We will be glad to share examples of Tiger Soup work.</p>
    <div class="contact-form__list-wrapper ringside mt4">
      <ul class="contact-form__list">
        <li class="contact-form__list-item orange-500 ringside-book mb2">
          <object class="sm-icon mr1" data="{{ .Page.Params.email_icon }}" type="image/svg+xml"><img src="{{ .Page.Params.email_icon }}" /></object>billfritsch@tigersoup.net</li>
        <li class="contact-form__list-item orange-500 ringside-book">
          <object class="sm-icon mr1" data="{{ .Page.Params.phone_icon }}" type="image/svg+xml"><img src="{{ .Page.Params.phone_icon }}" /></object>206-465-6700</li>
      </ul>
    </div>
  </div>
  <div class="contact-form__content measure f4 lh-copy ml0">
    <form class="mv4" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">
  
      <label class="ringside-light f6 lh-copy ttu tracked"  for="name">{{ i18n "yourName" }}</label>
      <input type="text" id="name" name="name" class="ringside-light mb4 {{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>
  
      <label class="ringside-light f6 lh-copy ttu tracked" for="email">{{ i18n "emailAddress" }}</label>
      <input type="email" id="email" name="email" class="ringside-light mb2 {{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
      <div class="requirements f6 gray glow i overflow-hidden mb4">
        {{ i18n "emailRequiredNote" }}
      </div>
  
      <label class="ringside-light f6 lh-copy ttu tracked" for="message">{{ i18n "message" }}</label>
      <textarea id="message" name="message" class="ringside-light mb4 {{ $.Scratch.Get "inputClasses" }} h4 message-textarea" aria-labelledby="message"></textarea>
  
      <input class="contact-form__submit-button w-25-ns mv2 ringside grey-900 pa3" type="submit" value="{{ i18n "send" }}" />
    </form>
  </div>
</div>


