{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <div class="flex justify-between center pv4">
    {{ partial "vertical-navigation.html" . }}
    <div class="w-70-ns w-100-m w-100 mt2">
      <section class="section-wrapper js-section">
        <div class="measure-wide f4 lh-copy">
          <header class="mt4">
            <h1 class="f1 green-800 mt3 mb1">{{- .Title -}}</h1>
            <h3 class="f3 fw2 chronicle grey-900">{{ .Params.description }}</h3>
          </header>
          <div class="chronicle">
            {{- .Content -}}
          </div>
        </div>
      </section>
    </div>
  </div>
{{ end }}
